html, body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.sn-component {
  user-select: auto !important;

  .button-group .button {
    vertical-align: middle;
  }
}

#files-view {
  &.is-uploading {

  }

  &.is-dragover {
    // border: 1px dashed blue;
    // padding: 10px;
  }
}

@import '~stylekit';
