@import '~stylekit';

html, body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  &.highlight {
    border: 2px dashed;
  }
}

* {
  box-sizing: border-box;
}

.sn-component {
  user-select: auto !important;

 .panel .content {
   padding-top: 6px !important;

   // p:not(.body-text-color) {
   //   color: black;
   // }

   p {
     color: inherit;
   }
  }

  .button-group .button {
    vertical-align: middle;
  }

  .button.no-border {
    border: none;
  }

  .button {
    user-select: none;
  }

  label.no-style {
    margin: 0;
    font-size: inherit;
  }
}

.bold {
  font-weight: bold;
}

.faded {
  opacity: 0.5;
}

#messages {
  ul {
    margin-top: 0;
  }
}

#files-view {
  margin-top: 10px;

  #add-file-button-container {
    margin-right: 18px;
  }

  #file-status {
    margin-right: 30px;
    padding-top: 8px;
  }

  .segmented-buttons {
    margin-right: 10px;
  }

  .files {
    display: flex;
    flex-wrap: wrap;

    .button {
      border: none;
      margin-bottom: 10px;

      &.selected {
        @extend .button.info:hover;
        margin-right: 0px;
      }
    }
  }
}
