html, body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  &.highlight {
    border: 2px dashed;
  }
}

* {
  box-sizing: border-box;
}

.sn-component {
  user-select: auto !important;

 .panel .content {
   padding-top: 6px !important;
 }

  .button-group .button {
    vertical-align: middle;
  }

  .button.no-border {
    border: none;
  }

  .button {
    user-select: none;
  }

  label.no-style {
    margin: 0;
    font-size: inherit;
  }
}

#files-view {
  margin-top: 10px;

  #add-file-button-container {
    margin-right: 18px;
  }

  .segmented-buttons {
    margin-right: 10px;
  }

  .files {
    display: flex;
    // flex-direction: row;


    .button {
      border: none;

      &.selected {
        @extend .button.info:hover;
        margin-right: 0px;
      }
    }
  }
}

@import '~stylekit';
